<div class="container">
  <%= form_with model: @genre, local:true do |f| %>
    <div class="form-group row">
      <%= f.label :name, 'ジャンル名', class:"col-sm-2 col-form-label" %>
      <div class="col-sm-2">
        <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control"%>
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-success col-sm-6">新規登録</button>
      </div>
    </div>
  <% end %>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-4">
      <table  class="table">
        <thead class="thead-light">
          <tr>
            <th>ジャンル</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td>
              <%= link_to "編集する", edit_genre_path(genre.id), class:"btn btn-success" %>
            </td>
            <td>
              <%= link_to "削除する", genre_path(genre.id), method: :delete, class:"btn btn-secondary" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
