<h5>子供一覧</h5>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <% children.each do |child| %>
    <div class="col-md-3">
     <table style="border-color:#ff84c1 ; border-style:dashed ; border-width:1px ; text-align:left ">
      <tr>
        <td>お名前</td>
        <td><%= child.name %></td>
      </tr>
      <tr>
        <td>身長</td>
        <td><%= child.tall %>cm</td>
      </tr>
      <tr>
        <td>洋服（上）</td>
        <td><%= child.tops_size %>cm</td>
      </tr>
      <tr>
        <td>洋服（下）</td>
        <td><%= child.bottom_size %>cm</td>
      </tr>
      <tr>
        <td>足のサイズ</td>
        <td><%= child.foot_size %>cm</td>
      </tr>
      <tr>
        <td>
        <%= link_to "編集", edit_child_path(child.id) %>
        <% if current_user %>
          <%= link_to "削除", child_path(child), method: :delete, data: { confirm: '削除しますか？' } %>
        <% end %>
        </td>
        <td></td>
      </tr>
     </table>
    </div>
    <% end %>
  </div>
</div>