
  <div class='row'>
    <div class="col-lg-2">
      <ul class="list-group">
        <li class="list-group-item"><strong>ユーザーメニュー！！</strong></li>
        <li class="list-group-item"><%= link_to "おようふくの登録", new_dress_path, class: "list-item" %></li>
        <li class="list-group-item"><%= link_to "おきにいり投稿", new_post_image_path, class: "list-item" %></li>
        <li class="list-group-item"><%= link_to "こどもの情報登録", new_child_path, class: "list-item" %></li>
        <li class="list-group-item"><%= link_to "こどものページ", children_path, class: "list-item" %></li>
        <li class="list-group-item"><%= link_to "設定", edit_user_path, class: "list-item" %></li>
      </ul>
    </div>


    <div class='col-lg-7'>
      <h5>自分の投稿一覧</h5>
      <%= render 'post_images/index',post_images: @post_images %>
    </div>

    <div class='col-lg-3'></div>

  </div>

