<h1>編集画面</h1>
<%= form_for @dress, local:true do |f| %>
 <%= f.attachment_field :image %><br>

<%= f.label :child, 'だれの洋服ですか？' %><br>
  <%= f.collection_select :child_id, @children, :id, :name, { prompt: "選択してください" } %><br>

  <%= f.label :genre, 'ジャンル' %><br>
  <%= f.collection_select :genre_id, @genres, :id, :name, { prompt: "選択してください" } %><br>


<!--ここ！！！！！！！！！！！！！！！-->
  <%= f.label :season, 'シーズン' %><br>
  <% @seasons.each do |season| %>
   <div>
     <%= f.check_box :season_ids, { multiple: true }, season.id, nil %>
     <span><%= season.name %></span>
   </div>
  <% end %>

  <br>
  <%= f.label :size, 'サイズ' %><br>
  <%= f.text_field :size, placeholder: "サイズを入力してください" %><br>

  <%= f.label :explanation, '洋服説明' %><br>
  <%= f.text_area :explanation, placeholder: "洋服説明" %><br>

  <%= f.submit '保存' %>
<% end %>