 <div class="container">
  <div class="row">
     <% @dresses.each do |dress| %>
     <div class="col-md-3">
     <%= link_to dress_path(dress.id) do %>
       <%= attachment_image_tag dress, :image, size: "100x100" %>
     <% end %><br>

     <!--服のジャンル-->
     <!--<%= dress.genre.name %><br>-->
     <!--季節-->
     <!--<%= dress.get_season_name %><br>-->
     <!--サイズ-->
     <!--<%= dress.size %><br>-->
     <!--説明-->
     <!--<%= dress.introduction %><br>-->
</div>
     <% end %>
</div></div>