<br><br>
<h5>洋服投稿画面</h5>
<%= form_with model:@dress, local:true do |f| %>

  <%= f.attachment_field :image %><br>

  <%= f.label :child, 'だれの洋服ですか？' %><br>
  <%= f.collection_select :child_id, @children, :id, :name, { prompt: "選択してください" } %><br>

  <%= f.label :genre, 'ジャンル' %><br>
  <%= f.collection_select :genre_id, @genres, :id, :name, { prompt: "選択してください" } %><br>

  <%= f.label :season, 'シーズン' %><br>
  <% @seasons.each do |season| %>
   <div>
     <%= f.check_box :season,{ multiple: true, checked: @dress.seasons.present? ? @dress.seasons.split(",").include?(seasons) : false },season.id, nil %>
     <span><%= season.name %></span>
   </div>
  <% end %>
  <br>
  <%= f.label :size, 'サイズ(半角)' %><br>
  <%= f.text_field :size, placeholder: "100" %> cm<br>

  <%= f.label :explanation, '洋服説明' %><br>
  <%= f.text_area :explanation, placeholder: "西松屋で購入。" %><br>

  <%= f.submit '登録' %>
<% end %>