<!DOCTYPE html>
<html>
  <head>
    <title>Wear Where</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>

    <footer><br><p>© milk 2021 All Rights Reserved.</p></footer>

  </body>
</html>
