<!DOCTYPE html>
<html>
  <head>
    <title>WearWhere</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <header>

<a class="navbar-brand p-3" href="/" ><%= image_tag 'logo.jpg', :size =>'150x120' %></a>

    <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>© milk 2021 All Rights Reserved.</footer>
</html>
