<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Wear Where</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon1.ico' %>
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    
    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>

    <footer><br><p>© milk 2021 I hope your life will be enriched, All Rights Reserved.</p></footer>
    
  </body>
</html>
